* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  width: 100%;
  position: absolute;
  color: #111;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

@-webkit-keyframes top {
  0% {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    top: 22px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    top: 22px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes top {
  0% {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    top: 22px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    top: 22px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes top-2 {
  0% {
    top: 22px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    top: 22px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes top-2 {
  0% {
    top: 22px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    top: 22px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes bottom {
  0% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    bottom: 22px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 22px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    bottom: 22px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 22px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@-webkit-keyframes bottom-2 {
  0% {
    bottom: 22px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  50% {
    bottom: 22px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 22px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  50% {
    bottom: 22px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes scaled {
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes scaled {
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes scaled-2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaled-2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

li a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

li a:hover, li a#current {
  color: #818181;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav ul {
  display: block;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

li {
  list-style: none;
}

p {
  margin: 10px;
}

h1 {
  margin: 10px;
}

button {
  margin: 10px;
  color: white;
  width: 100px;
  height: 50px;
  font-size: 24px;
  border: none;
}

div button {
  background-color: green;
}

.Blank {
  margin: 10px;
  color: red;
  text-decoration: none;
  font-family: Arial;
  font-size: 2em;
  display: block;
}

header {
  min-height: 60px;
  font-size: calc(10px + (20 - 10) * ((100vw - 280px) / (1600 - 300)));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #50b948;
  color: white;
  width: 100%;
}

.btn {
  position: absolute;
  top: 30px;
  left: 30px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#shopping-cart-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#shopping-cart-btn a img {
  width: 100%;
}

.foldOutMenu {
  width: 100vw;
}

.menuspan {
  display: block;
  width: 100%;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  height: 4px;
  background: white;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  z-index: 100;
}

.menuspan + .menuspan {
  margin-top: 6px;
}

.active .menuspan + .menuspan {
  margin-top: 18px;
}

.active span:nth-child(1) {
  -webkit-animation: ease .7s top forwards;
          animation: ease .7s top forwards;
}

.active span:nth-child(2) {
  -webkit-animation: ease .7s scaled forwards;
          animation: ease .7s scaled forwards;
}

.active span:nth-child(3) {
  -webkit-animation: ease .7s bottom forwards;
          animation: ease .7s bottom forwards;
}

.not-active span:nth-child(1) {
  -webkit-animation: ease .7s top-2 forwards;
          animation: ease .7s top-2 forwards;
}

.not-active span:nth-child(2) {
  -webkit-animation: ease .7s scaled-2 forwards;
          animation: ease .7s scaled-2 forwards;
}

.not-active span:nth-child(3) {
  -webkit-animation: ease .7s bottom-2 forwards;
          animation: ease .7s bottom-2 forwards;
}

@media only screen and (min-width: 975px) {
  header h1 {
    font-size: 32px;
  }
  #regularMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #navToggle {
    display: none;
  }
}

@media only screen and (max-width: 975px) {
  #regularMenu {
    display: none;
  }
  #navToggle {
    display: block;
  }
}

.cookieFiller {
  display: none;
}

#shopping-cart-container {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-image {
  float: left;
  width: 20%;
}

.product-details {
  float: left;
  width: 37%;
}

.product-price {
  float: left;
  width: 12%;
}

.product-quantity {
  float: left;
  width: 10%;
}

.product-removal {
  float: left;
  width: 9%;
}

.product-line-price {
  float: left;
  width: 12%;
  text-align: right;
}

.group {
  zoom: 1;
}

.group:before {
  content: '';
  display: table;
}

.group:after {
  content: '';
  display: table;
  clear: both;
}

#shopping-cart {
  zoom: 1;
  margin: 10px;
}

#shopping-cart:before {
  content: '';
  display: table;
}

#shopping-cart:after {
  content: '';
  display: table;
  clear: both;
}

.column-labels {
  zoom: 1;
}

.column-labels:before {
  content: '';
  display: table;
}

.column-labels:after {
  content: '';
  display: table;
  clear: both;
}

.column-labels label {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.column-labels .product-image {
  text-indent: -9999px;
}

.column-labels .product-details {
  text-indent: -9999px;
}

.column-labels .product-removal {
  text-indent: -9999px;
}

.product {
  zoom: 1;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.product:before {
  content: '';
  display: table;
}

.product:after {
  content: '';
  display: table;
  clear: both;
}

.product .product-price:before {
  content: '$';
}

.product .product-line-price:before {
  content: '$';
}

.product .product-image {
  text-align: center;
}

.product .product-image img {
  width: 100px;
}

.product .product-details .product-title {
  margin-right: 20px;
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
}

.product .product-details .product-description {
  margin: 5px 20px 5px 0;
  line-height: 1.4em;
}

.product .product-quantity input {
  width: 40px;
}

.product .remove-product {
  border: 0;
  padding: 4px 8px;
  background-color: #c66;
  color: #fff;
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
  font-size: 12px;
  border-radius: 3px;
}

.product .remove-product:hover {
  background-color: #a44;
}

.totals-item {
  zoom: 1;
}

.totals-item:before {
  content: '';
  display: table;
}

.totals-item:after {
  content: '';
  display: table;
  clear: both;
}

.totals-value:before {
  content: '$';
}

h2 {
  font-weight: 100;
}

label {
  color: #000;
}

.totals .totals-item {
  float: right;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}

.totals .totals-item label {
  float: left;
  clear: both;
  width: 79%;
  text-align: right;
}

.totals .totals-item .totals-value {
  float: right;
  width: 21%;
  text-align: right;
}

.totals .totals-item-total {
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
}

.checkout {
  float: right;
  border: 0;
  margin-top: 20px;
  padding: 6px 25px;
  background-color: #6b6;
  color: #fff;
  font-size: 25px;
  border-radius: 3px;
  width: auto;
}

.checkout:hover {
  background-color: #494;
}

@media screen and (max-width: 800px) {
  #shopping-cart {
    margin: 10px;
    padding-top: 20px;
    border-top: 1px solid #eee;
  }
  .column-labels {
    display: none;
  }
  .product-image {
    float: right;
    width: auto;
  }
  .product-image img {
    margin: 0 0 10px 10px;
  }
  .product-details {
    float: none;
    margin-bottom: 10px;
    width: auto;
  }
  .product-price {
    clear: both;
    width: 70px;
  }
  .product-quantity {
    width: 100px;
  }
  .product-quantity input {
    margin-left: 20px;
  }
  .product-quantity:before {
    content: 'x';
  }
  .product-removal {
    width: auto;
  }
  .product-line-price {
    float: right;
    width: 70px;
  }
}

@media screen and (max-width: 380px) {
  .product-removal {
    float: right;
  }
  .product-line-price {
    float: right;
    clear: left;
    width: auto;
    margin-top: 10px;
  }
  .product .product-line-price:before {
    content: 'Item Total: $';
  }
  .totals .totals-item label {
    width: 60%;
  }
  .totals .totals-item .totals-value {
    width: 40%;
  }
}
/*# sourceMappingURL=cart.css.map */