// Create the animation for our little bounce rotate scale act of the hamburger menu
@keyframes top {
	0% {
		top: 0;
		transform: rotate(0);
	}
	50% {
		top: 22px;
		transform: rotate(0);
	}
	100% {
		top: 22px;
		transform: rotate(45deg);
	}
}
@keyframes top-2 {
	0% {
		top: 22px;
		transform: rotate(45deg);
	}
	50% {
		top: 22px;
		transform: rotate(0deg);
	}
	100% {
		top: 0;
		transform: rotate(0deg);
	}
}
@keyframes bottom {
	0% {
		bottom: 0;
		transform: rotate(0);
	}
	50% {
		bottom: 22px;
		transform: rotate(0);
	}
	100% {
		bottom: 22px;
		transform: rotate(135deg);
	}
}
@keyframes bottom-2 {
	0% {
		bottom: 22px;
		transform: rotate(135deg);
	}
	50% {
		bottom: 22px;
		transform: rotate(0);
	}
	100% {
		bottom: 0;
		transform: rotate(0);
	}
}
@keyframes scaled {
	50% {
		transform: scale(0);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes scaled-2 {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

// Create the side nav that appears when it pulls out of the side
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
    padding-top: 60px;
    // Style the sidenavs links
	a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 25px;
		color: #818181;
		display: block;
		transition: 0.3s;
		&:hover {
			color: #f1f1f1;
		}
    }
}
// Create basic styling for everyone
li {
	list-style: none;
}
p {
	margin: 10px;
}
h1 {
	margin: 10px;
}
button {
	margin: 10px;
	color: white;
	width: 100px;
	height: 50px;
	font-size: 24px;
	border: none;
}
div {
	button {
		background-color: green;
	}
}
.Blank {
	margin: 10px;
	color: red;
	text-decoration: none;
	font-family: Arial;
	font-size: 2em;
	display: block;
}
// Add the styling for our body
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	width: 100%;
	position: absolute;
	color: #111;
	font-family: "Avenir Next", "Avenir", sans-serif;
}

// Create our dropdown button
.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

// Create our dropdown
.dropdown {
	position: relative;
	display: inline-block;
	&:hover {
		.dropdown-content {
			display: block;
		}
		.dropbtn {
			background-color: #3e8e41;
		}
	}
}
// Create teh contents of whats within the dropdown and style their links
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		&:hover {
			background-color: #f1f1f1;
		}
	}
}
// Styke the header
header {
	min-height: 60px;
	font-size: calc(10px + (20 - 10) * ((100vw - 280px) / (1600 - 300)));
	display: flex;
	align-items: center;
	justify-content: center;
	background: #50b948;
	color: white;
	width: 100%;
}
// Style the button for opening the nav
.btn {
	position: absolute;
	top: 30px;
	left: 30px;
	transform: translate(-50%, -50%);
	width: 30px;
	cursor: pointer;
	z-index: 100;
	transition: 0.5s;
}
// Style the shopping cart button
#shopping-cart-btn {
	position: absolute;
	top: 30px;
	right: 30px;
	transform: translate(-50%, -50%);
	width: 30px;
	cursor: pointer;
	z-index: 100;
	transition: 0.5s;
	a {
		img {
			width: 100%;
		}
	}
}
.foldOutMenu {
	width: 100vw;
}
// Make the spans specifically created for jumping around
.menuspan {
	display: block;
	width: 100%;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
	border-radius: 3px;
	height: 4px;
	background: white;
	transition: all .3s;
	position: relative;
	z-index: 100;
	+ {
		.menuspan {
			margin-top: 6px;
		}
	}
}
// Add the animations for our spans on activation
.active {
	.menuspan {
		+ {
			.menuspan {
				margin-top: 18px;
			}
		}
	}
	span {
		&:nth-child(1) {
			animation: ease .7s top forwards;
		}
		&:nth-child(2) {
			animation: ease .7s scaled forwards;
		}
		&:nth-child(3) {
			animation: ease .7s bottom forwards;
		}
	}
}

// Add the animations for our spans pm disactivation
.not-active {
	span {
		&:nth-child(1) {
			animation: ease .7s top-2 forwards;
		}
		&:nth-child(2) {
			animation: ease .7s scaled-2 forwards;
		}
		&:nth-child(3) {
			animation: ease .7s bottom-2 forwards;
		}
	}
}
// Create the auth container
#authContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}
// Create the welcome
#welcome-h1 {
	align-self: flex-start;
}

// Create a container for rapid product creation
#productContainer {
	margin-top: 20px;
	display: flex;
	flex-flow: row wrap;
	margin-left: -.3125rem;
	margin-right: -.3125rem;
	width: calc(185px * 4 + 40px);
	padding: 0 20px;
}
// This is the outmost container, rem is used for ratios
.outmostDiv {
	margin-top: 1.5625rem;
	margin-bottom: .3125rem;
	display: flex;
	flex-direction: column;
	flex: 1 0 11.5625rem;
	min-width: 11.5625rem;
	margin-left: .3125rem;
	margin-right: .3125rem;
	max-width: 185px;
}
// The body div of our product
.bodyDiv {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	border-width: .3125rem;
	border-bottom-width: 0;
	border-style: solid;
	border-radius: .4375rem .4375rem 0 0;
	padding: .3125rem;
	border-color: #50b948;
}
// Style our products image container
.imgContainer {
	display: flex;
	justify-content: center;
	padding: 0 .3125rem;
}
a {
	&:active {
		color: #50b948;
		text-decoration: none;
	}
}
// styke our products image
.productImage {
	display: block;
	box-sizing: border-box;
	width: 85%;
	height: auto;
	margin: 0 auto;
	max-width: 12.5rem;
}
// Style our items infor container
.itemInfoContainer {
	margin-bottom: .325rem;
}
// Style the links for our iteems
.infoLink {
	display: inline-block;
	font-size: .75rem;
	line-height: 1.2;
	color: #000;
	max-height: 4.56em;
	overflow-y: hidden;
}
// Style the span that is used for our logo
.logoSpan {
	font-weight: bold;
	display: block;
	height: 1.2em;
	img {
		max-height: 1.2em;
		margin-bottom: .125rem;
		margin-right: auto;
	}
}
// Style the igeneral iamge
img {
	border-style: none;
}
// Style what prices should look like]
.priceDiv {
	background-color: #50b948;
	box-sizing: border-box;
	height: 4.375rem;
	background-position: top right;
	background-size: 5rem 2.1875rem;
	background-repeat: no-repeat;
	border-radius: 0 0 .4375rem .4375rem;
	padding: 0 .5rem .4375rem .5rem;
	display: flex;
}
.priceTextDiv {
	flex: 1 0 0%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-bottom: -.125rem;
}
//Style the prices div
.priceText {
	display: flex;
	align-items: flex-start;
	font-size: 1.375rem;
	font-weight: bold;
	line-height: 1;
	color: #fff;
}
.noticeText {
	height: 1.375rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
// Style the little grey buy button
.buyButtonContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 2.75rem;
}
.buyButton {
	background-color: #333;
	color: #fff;
	box-sizing: border-box;
	border-radius: .3125rem;
	padding: .25rem;
	font-size: .6875rem;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}
// Style the everyday low price text
.sloganText {
	font-size: .625rem;
	line-height: 1.1;
	color: #000;
}
content {
	width: 100vw;
	display: flex;
	justify-content: center;
}
@media only screen and (min-width: 975px) {
	header {
		h1 {
			font-size: 32px;
		}
	}
}

// Change down the amount of boxes taht can fit in screen size
@media only screen and (max-width: 1300px) {
	#productContainer {
		width: calc(185px * 3 + 30px);
	}
}
@media only screen and (max-width: 975px) {
	#productContainer {
		width: calc(185px * 2 + 20px);
	}
}
@media only screen and (max-width: 380px) {
	#productContainer {
		width: 185px;
	}
}
