@import '../utils/variables';
@import '../utils/mixins';

// Create border box sizing
* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}


// Add the styling for our body
body {
	@include flexbox;
	flex-direction: column;
	align-items: center;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	width: 100%;
	position: absolute;
	color: #111;
	font-family: "Avenir Next", "Avenir", sans-serif;
}

